doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title 「雰囲気でDJをやる」とは
    link(rel='stylesheet', href='css/reveal.min.css')
    link(rel='stylesheet', href='css/theme/white.css')
    link(rel='stylesheet', href='lib/css/zenburn.css')
    link(rel='stylesheet', href='css/my.css')
    script.
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
  body
    .reveal
      .slides
        section
          h1 「雰囲気でDJをやる」とは
          p 2017-03-19
          p kosen10s LT #7
          p うなすけ
        section(data-background-image='img/icon_pale.jpg')
          h2 自己紹介
          ul
            li うなすけ (unasuke)
            li twitter : yu_suke1994
            li 株式会社spice life
            li インフラ部所属
            li.fragment.highlight-blue 高専DJ部 部員
        section
          h2 高専DJ部
          img(src="img/kosendj-bu-site.png")
          a(href="https://kosendj-bu.in/") https://kosendj-bu.in/
        section
          h2 高専DJ部
          h3 #12 2017/03/26 (Sun.) 14:00 〜 20:00
          img(src="img/kosendj-bu-timetable.png")
        section
          h2 高専DJ部
          h3 #12 2017/03/26 (Sun.) 14:00 〜 20:00
          img(src="img/kosendj-bu-timetable-highlight.png")
        section
          h2 高専DJ部
          h3 #12 2017/03/26 (Sun.) 14:00 〜 20:00
          img(src="img/kosendj-bu-timetable-comeon.png")
        section
          p 以上がこのLTで伝えたかったことの8割になります
        section
          p さて
        section
          h2 「雰囲気でDJをやる」
        section
          <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">「俺たちは雰囲気でDJをやっている」 <a href="https://twitter.com/hashtag/kosendj?src=hash">#kosendj</a></p>&mdash; Hokke (@hokke_) <a href="https://twitter.com/hokke_/status/825315666555121665">2017年1月28日</a></blockquote>
        section
          <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">雰囲気DJことうなすけです <a href="https://twitter.com/hashtag/kosendj?src=hash">#kosendj</a></p>&mdash; うなすけ(ミートアップ) (@yu_suke1994) <a href="https://twitter.com/yu_suke1994/status/825316357948346368">2017年1月28日</a></blockquote>
        section
          p ？？？？「うなすけってどうやって曲繋げてんの」
          p.fragment うなすけ「えっ、なんか雰囲気で……」
          p.fragment うなすけ「脳内イントロドンして……」
        section
          p うなすけ ← 雰囲気でDJをやっていた
        section
          h2 そもそもDJって何してんの
          img(src="img/dj-ikiri.png")
        section
          h2 DJのやってること
          ol
            li 曲をかける(イキる)
            li 踊る
          p.fragment 違います
        section
          h2 DJのやってること
          img(src="https://images-na.ssl-images-amazon.com/images/I/51Zkp8k7A1L._SX348_BO1,204,203,200_.jpg")
        section
          h2 DJのやってること
          ul
            li 曲を途切れなく繋げていく
            li 状況をみて盛り上がる曲を選曲する
            li 曲にエフェクトをかけたり
            li スクラッチして変化させる
            li 踊る
        section
          h2 DJのやってること
          h3 踊る
          .fragment
            img(src="https://cdn-ak.f.st-hatena.com/images/fotolife/m/mirakui/20170221/20170221030155.png")
            small
              a(href="http://diary2.mirakui.com/entry/2017/02/21/093000") DJした - わくわくパンダさん日記
              span より
              p けっこう重要
        section
          h2 DJのやってること
          h3 曲を途切れなく繋げていく
        section
          h2 DJのやってること
          h3 曲を途切れなく繋げていく
          p ここでデモ
        section
          h2 DJのやってること
          h3 曲を途切れなく繋げていく
          h4 1
          p ぼくのフレンド みゆはん
          p から
          p 恋する☆宇宙戦争っ!! Prim
        section
          h2 DJのやってること
          h3 曲を途切れなく繋げていく
          h4 2
          p ぼくのフレンド みゆはん
          p から
          p じょいふる いきものがかり
        section
          h2 DJのやってること
          h3 曲を途切れなく繋げていく
          p どちらがより自然で違和感がなかったか
          p.fragment
            | 2
            br
            small だよね？
        section
          h2 DJのやってること
          h3 曲を途切れなく繋げていく
          h4 曲を自然に繋げるには
        section
          h3 曲を途切れなく繋げていく
          h4 曲を自然に繋げるには
          p 次の2つの要素を考える
          ol
            li BPM
            li Key
        section
          h4 BPM
          table
            tr
              td 曲名
              td BPM
            tr
              td ぼくのフレンド
              td 163
            tr
              td 恋する☆宇宙戦争っ!!
              td 100
            tr
              td じょいふる
              td 159
          p.fragment
            | なるほど
        section
          h4 Key
          table
            tr
              td 曲名
              td Key
            tr
              td ぼくのフレンド
              td G
            tr
              td 恋する☆宇宙戦争っ!!
              td D
            tr
              td じょいふる
              td G
          p.fragment
            | なるほど
        section
          h3 曲を途切れなく繋げていく
          h4 曲を自然に繋げるには
          p
            | 次の2つの要素が合ってれば
            br
            | 自然に繋がる
          ol
            li BPM
            li Key
          p.fragment
            | ことはそう単純じゃない
        section
          h3 曲を途切れなく繋げていく
          h4 曲を自然に繋げるには
          p あとbeatの頭が合ってるかとかそんなの
        section
          h3 そのへんを全部雰囲気でやってました
          p.fragment
            | 別に雰囲気でやってもいい
        section
          h2 DJを雰囲気でしない
        section
          h2 DJを雰囲気でしない
          ul
            li BPMとKeyを解析しておく
            li 拍の頭を揃える
        section
          h2 DJを雰囲気でしない
          h3 BMPとKeyを解析しておく
          p ソフトウェアがやってくれる
          ul
            li Serato DJ
            li TROKTOR PRO 2
            li rekordbox
            li djay
        section
          h2 DJを雰囲気でしない
          h3 BMPとKeyを解析しておく
          p 最近は相性の良い曲をサジェストしてくれる
        section
          h2 DJを雰囲気でしない
          h3 拍の頭を揃える
          p ソフトウェアがやってくれる
          ul
            li 略
        section
          h2 DJを雰囲気でしない
          h3 曲を繋げる
          p EQとかグイングインする
          small.fragment
            | 場数踏んで慣れろ
        section
          h2 楽しい!!!!!!!
        section
          h2 はい
        section
          h2 DJ FAQタイム
        section
          h2 DJ FAQタイム
          h3 お金がかかるんでしょ
          p 機材、曲、ブースレンタル
        section
          h2 DJ FAQタイム
          h3 お金がかかるんでしょ
          h4 機材
          p ピンキリ
        section
          h2 DJ FAQタイム
          h3 お金がかかるんでしょ
          h4 機材
          img(src="https://rr.img.naver.jp/mig?src=http%3A%2F%2Fimgcc.naver.jp%2Fkaze%2Fmission%2FUSER%2F20130911%2F23%2F2567033%2F3%2F598x379x59435d3b462563dbfef337f4.jpg%2F300%2F600&twidth=300&theight=0&qlt=80&res_format=jpg&op=r")
        section
          h2 DJ FAQタイム
          h3 お金がかかるんでしょ
          h4 曲
          p いっぱいあるといいのでいっぱい買う
        section
          h2 DJ FAQタイム
          h3 お金がかかるんでしょ
          h4 ブースレンタル
          p 家で楽しむだけなら無料
        section
          h2 DJ FAQタイム
          h3 お金がかかるんでしょ
          h4 ブースレンタル
          p 例えばnagomix渋谷だと&yen;2000/h
          p(style="font-size: 0.7em;")
            | 高級機材が&yen;2000なので実質無料
        section
          h2 DJ FAQタイム
          h3 これなに
          <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">DJ七つ道具を常時携行しような</p>&mdash; うなすけ(ミートアップ) (@yu_suke1994) <a href="https://twitter.com/yu_suke1994/status/842740837922496517">2017年3月17日</a></blockquote>
        section
          h2 DJ FAQタイム
          h3 DJ七つ道具(うなすけの場合)
          ul
            li LANケーブル
            li LAN-to-USBアダプタ
            li ヘッドホン
            li フォン-ステレオミニ変換端子
            li USBフラッシュメモリ
        section
          h2 DJ FAQタイム
          h3 他なんかありますか
          p なければもう一度宣伝です
        section
          h2 高専DJ部
          h3 #12 2017/03/26 (Sun.) 14:00 〜 20:00
          img(src="img/kosendj-bu-timetable-comeon.png")
        section
          h2 高専DJ部
          h3 #12 2017/03/26 (Sun.) 14:00 〜 20:00
          h4 IQ 10とは???
        section
          h2 ユニット名です
        section
          h2 B2B
          p
            | 2人のDJが
            br
            | 交互に曲を
            br
            | 繋いでいく
        section
          h2 B2B
          h3 相方氏
          <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">B2Bだからどうなるかは分からんけど、低音ぶちかますというところで合意はできてるのでやっていきです</p>&mdash; とーかさん@3/26#kosendj (@touka_tt) <a href="https://twitter.com/touka_tt/status/843254544750460929">2017年3月19日</a></blockquote>
        section
          h2 高専DJ部
          h3 #12 2017/03/26 (Sun.) 14:00 〜 20:00
          p 「とーかさん」と「うなすけ」のユニット
          p "IQ 10"でブチかますんでヨロシク!!!
          img(src="img/kosendj-bu-timetable-comeon.png" width="80%")
    script(src='lib/js/head.min.js')
    script(src='js/reveal.min.js')
    script.
      // More info https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        history: true,
        transition: 'none',
        backgroundTransition: 'none',
        // More info https://github.com/hakimel/reveal.js#dependencies
        dependencies: [
          { src: 'plugin/markdown/marked.js' },
          { src: 'plugin/markdown/markdown.js' },
          { src: 'plugin/notes/notes.js', async: true },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
        ]
      });
